# This is a basic workflow to help you get started with Actions

name: CHEAT Actions CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.1.0
      - name: set up JDK 1.8
        uses: actions/setup-java@v1.3.0
        with:
          java-version: 1.8
      - name: Unit tests
        run: bash ./gradlew test --stacktrace
        
  build:
    name: Gradle build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.1.0
      - name: set up JDK 1.8
        uses: actions/setup-java@v1.3.0
        with:
          java-version: 1.8
      - name: Gradle Build
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: build

      
  apk:
    name: Generate APK
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.1.0
      - name: set up JDK 1.8
        uses: actions/setup-java@v1.3.0
        with:
          java-version: 1.8
      - name: Build debug APK
        run: bash ./gradlew assembleDebug --stacktrace
      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: CHEAT-APK
          path: app/build/outputs/apk/debug/CHEAT-debug.apk
